.about-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #f4f4f4;
}

.about-section {
  justify-content: center;
  align-items: center;
  color: #822;
}

.about-section h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 0.6rem;
  padding-bottom: 30px;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
}

.about-section p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .about-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 500px) {
  .about-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-section h1 {
    letter-spacing: normal;
  }
}
