a {
  color: #fff;
}

.header {
  background-color: #822;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: #fff;
        color: #822;
      }
    }
  }

  .logo {
    float: left;
    display: block;
    font-size: 1.6rem;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .menu-icon {
    padding: 14px 20px;
    position: relative;
    float: right;
    width: 18px;
    cursor: pointer;

    .nav-icon {
      background: #fff;
      display: block;
      height: 2px;
      width: 18px;
      position: relative;
      float: right;
      transition: background 0.2s ease-out;

      &:before {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        top: 5px;
      }

      &:after {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        top: -5px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 280px;
    }

    &:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }

    &:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top: 0;
    }

    &:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top: 0;
    }
  }
}

@media (min-width: 900px) {
  .header {
    li {
      float: left;

      a {
        padding: 20px 30px;
      }
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }
  }
}
