.nav-bar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #822;
  z-index: 6;

  .logo-container {
    height: 100%;
    width: 175px;
    font-size: 1.3rem;
    padding: 12px 15px;
    color: #fff;
    font-weight: 400;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-size: 1.1rem;
      cursor: pointer;
      color: #fff;
      font-weight: 400;
    }
  }
}
